@layer components {
  .nav-link {
    @apply p-2 rounded-md flex items-center transition-colors hover:bg-primary hover:text-white;

    &.active {
      @apply bg-primary text-white;
    }

    span {
      @apply ml-2;
    }

    svg {
      @apply h-5 w-5;
    }
  }
}
