@layer components {
  .nav-link {
    @apply p-2 rounded-md flex items-center transition-colors hover:bg-neutral-800 hover:text-white;

    &.active {
      @apply bg-neutral-800 text-white;
    }

    span {
      @apply ml-2;
    }

    svg {
      @apply h-5 w-5;
    }
  }
}
